* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'work sans',sans-serif;
}

/* navbar */
nav {
    display: flex;
    background-color:#306ee8;
    justify-content: space-around;
    padding: 20px 0;
    color: #fff;
}

nav .logo h4 {
    font-weight: 700;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color:rgb(228, 228, 228);
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: #fff;
}

nav .icon i {
    font-size: 25px;
    background-color: #fff;
    color: #306ee8;
    border-radius: 50%;
}

.hero {
    background-color:#306ee8;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 400px;
}

.hero .hero-content .img {
    border-radius: 10px;
    margin-left: 640px;
}

.hero .hero-content .subjudul h2 {
    font-size: 54px;
    text-align: center;
    margin-right: 555px;
    margin-top: -358px;
    color: white;
}

.hero .hero-content .isi p {
    text-align: left;
    font-size: 15px;
    margin-left: 94px;
    margin-top: 30px;
    color: white;
}

.hero .hero-content .button .satu {
    background-color: #fff;
    color: #306ee8;
    padding: 10px 20px;
    margin-left: 88px;
    margin-right: 990px;
    margin-top: 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero .hero-content .button .dua {
    background-color: #306ee8;
    color: white;
    padding: 10px 20px;
    margin-top: -37px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    margin-left: 333px;
}

.payment {
    background-color: white;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.payment .payment-content {
    display: flex;
    align-items: center;
}

.payment .payment-content ul {
    list-style: none;
}

.payment .payment-content img {
    margin-left: 95px;
}

.payment .payment-content .subjudul {
    margin-left: 200px;
    margin-bottom: 20px;
}

.payment .payment-content .subjudul1 {
    margin-left: 200px;
    display: flex;
    margin-top: 20px;
}

.payment .payment-content .subjudul1 i {
    text-align: center;
    font-size: 35px;
    color: #306ee8;
    margin-right: 20px;
}

.payment .payment-content .subjudul h3 {
    font-size: 25px;
}

.payment .payment-content .subjudul1 h3 {
    font-size: 25px;
}

.build {
    background-color:#306ee8;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 50px;
}

.build .build-content ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.build .build-content .subjudul1 {
    display: flex;
    color: #fff;
}

.build .build-content .subjudul1 i {
    font-size: 55px;
    color: #fff;
    margin-right: 10px;
}

.build .build-content .subjudul1 .text p {
    margin-top: 5px;
}

.service {
    background-color:#F3EEEA;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.service .service-content .subjudul1 h1 {
    color: #306ee8;
    text-align: center;
    font-size: 54px;
}

.service .service-content .isi1 p {
    color: gray;
    text-align: center;
    margin-top: 5px;
}

.service .service-content .container-service {
    padding: 15px 9%;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.service .service-content .container-service .box-container .box {
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    padding: 30px 20px;
}

.service .service-content .container-service .box-container .box i {
    font-size: 50px;
    color: #306ee8;
}

.service .service-content .container-service .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #fff;
    color: black;
    border: 2px solid #306ee8;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    cursor: pointer;
    text-decoration: none;
}

.service .service-content .container-service .box-container .box .btn:hover {
    letter-spacing: 1px;
    background-color: #306ee8;
    color: #fff;
}

.service .service-content .container-service .box-container .box p {
    color: grey;
}

.footer {
    width: 100%;
    height: 500px;
    background-color: #0065e9;
}

.footer .wrapper {
    width: 90%;
    margin: auto;
    padding: 50px 25px;
    display: grid;
    justify-content: space-around;
    grid-template-areas: "bingkai1 bingkai2 bingkai3 bingkai4" "bingkai1 bingkai2 bingkai3 bingkai5";
    grid-template-rows: 1fr;
}

.footer .wrapper a {
    text-decoration: none;
    margin-left: auto;
    color: #a5a5a5;
}

.footer .wrapper a:hover {
    color: #fff;
}

.footer .wrapper .list1{
    grid-area: bingkai1;
    display: inline-block;
    color: white;
}

.footer .wrapper .list2{
    grid-area: bingkai2;
    display: inline-block;
    color: white;
}

.footer .wrapper .list3{
    padding: 36px;
    grid-area: bingkai3;
    display: inline-block;
    color: white;
}

.footer .wrapper .list4{
    grid-area: bingkai4;
    display: inline-block;
    color: white;
}

.footer .wrapper .list4 a {
    display: flex;
}

.footer .wrapper .list5{
    margin-top: -120px;
    grid-area: bingkai5;
    color: white;
}

.footer .wrapper .list5 .foricon{
    display: flex;
}

.footer .wrapper .list5 .foricon:hover{
    background-color: white;
    color: #0065e9;
}

.footer .wrapper .title{
    margin: 35px -250px 0px 325px;
    color: white;
    text-align: center;
    justify-content: center;
}